<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <h3><%= pluralize(@user.errors.count, "error") %> não permitiram que este usuário fosse salvo.</h3>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label 'Nome', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'E-mail', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Senha', class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Confirmação de senha', class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="control-group controls">
    <%= f.submit 'Enviar', class: 'btn btn-primary' %>
  </div>
<% end %>