<h1>Informações do Usuário</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Registrou em:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.created_at.strftime("%d %B %Y") %></td>
      <% if current_user == @user %>
        <td><%= link_to 'Editar', edit_user_path(@user), class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Deletar', @user, method: :delete, class: "btn btn-danger btn-xs", data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#myattractions">
  <%= "Atrações de #{@user.name}" %>
</button>
<div id="myattractions" class="collapse out">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Mídia</th>
        <th>Dia da Semana</th>
        <th>Data</th>
        <th>Hora</th>
     </tr>
    </thead>
    <tbody>
      <% @attractions.each do |attraction| %>
        <tr class="warning">
          <td><%= attraction.name %></td>
          <td><%= attraction.media %></td>
          <td><%= attraction.time.strftime("%A") %></td>
          <td><%= attraction.time.strftime("%d %B %Y") %></td>
          <td><%= attraction.time.strftime("%H:%M") %></td>
          <td><%= link_to 'Editar', edit_user_attraction_path(@user, attraction), class: "btn btn-warning btn-xs" %></td>
          <% if current_user == @user %>      
          <td><%= link_to 'Deletar', user_attraction_path(@user, attraction), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: 'Você tem certeza?' } %></td>
          <% end %>
        </tr>
       <% end %>
       <td><%= link_to 'Nova Atração', new_user_attraction_path(@user), class: "btn btn-primary" %></td>
     </tbody>
   </table>
</div>
