<%= form_for([@user,  @attraction]) do |f| %>
  <h5>
  <div class="form-inline">
    <div class="form-group">  
      <%= f.label 'Nome' %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="form-inline">
    <div class="form-group">
      <%= f.label 'Mídia' %>
      <%= f.text_field :media, class: "form-control" %>
    </div>
  </div>
  <br>
  <br>
  <div class="form-inline">
    <div class="form-group">
      <%= f.label 'Data' %>
      <%= f.date_select :time, 
                        :order => [:day, :month, :year], 
                        class: "form-control" %>
      <%= f.time_select :time, 
                        :ignore_date => true,
                        :minute_step => 15,
                        :include_blank => true,
                        class: "form-control" %>
    </div>
  </div>
  <br>
  <br>  
  <%= f.submit "Criar Atração", class: "btn btn-primary" %>
<% end %>